<style type="text/css">
    .header p {
        color: #fff;
        padding-top: 15px;
    }
    table.button.facebook table td {
        background: #3B5998 !important;
        border-color: #3B5998;
    }
    table.button.twitter table td {
        background: #1daced !important;
        border-color: #1daced;
    }
    table.button.google table td {
        background: #DB4A39 !important;
        border-color: #DB4A39;
    }
    .two-column img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }
    table {
        border-spacing: 0;
        color: #333333;
        font-family: Arial, sans-serif;
    }
</style>

<container>
    <row>
        <columns small="12" >
            <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-left:1px solid #e8e7e5; border-right:1px solid #e8e7e5; border-bottom:1px solid #e8e7e5; padding: 10px" bg="#FFFFFF">
                <tr>
                    <td align="center" style="padding:0px 40px 40px 40px">
                        <p style="color:#262626; font-size:32px; text-align:center; font-family: Verdana, Geneva, sans-serif">
                            Test! <br> <%= data.name %>
                        </p>
                        <b style="color:#000000; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px ">
                            This is an email test!
                        </b><br/>
                        <br />
                    </td>
                </tr>
            </table>
        </columns>
    </row>
</container>
